<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.seventynineit.videoplayer"
    version="1.0.0">

	<name>Video Player</name>
	<description>Native Video Player Plugin</description>
	<license>MIT</license>
	<keywords>cordova,media,player,video</keywords>
	<repo>https://github.com/79it/cordova-videoplayer.git</repo>
    <issue>https://github.com/79it/cordova-videoplayer/issues</issue>

	<js-module src="www/videoplayer.js" name="VideoPlayerPlugin">
		<clobbers target="VideoPlayerPlugin" />
	</js-module>

	<platform name="android">
		<config-file target="res/xml/config.xml" parent="/*">
			<feature name="VideoPlayerPlugin">
				<param name="android-package" value="com.seventynineit.videoplayer.VideoPlayerPlugin"/>
			</feature>
		</config-file>

		<config-file target="AndroidManifest.xml" parent="/manifest/application">
			<activity
				android:name="com.seventynineit.videoplayer.VideoPlayer"
				android:label="@string/app_name"
				android:theme="@android:style/Theme.Light.NoTitleBar">
				<intent-filter></intent-filter>
			</activity>
			
		</config-file>

		<config-file target="AndroidManifest.xml" parent="/manifest">
			<uses-permission android:name="android.permission.INTERNET" />
		</config-file>
		

		<source-file src="src/android/VideoPlayer.java" target-dir="src/com/seventynineit/videoplayer" />
		<source-file src="src/android/VideoPlayerPlugin.java" target-dir="src/com/seventynineit/videoplayer" />
		<source-file src="src/android/res/layout/activity_video.xml" target-dir="res/layout" />
		<source-file src="src/android/res/layout-land/activity_video.xml" target-dir="res/layout-land" />
		

	</platform>

</plugin>